html, body {
    height:100%;
}

h1 {
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
  height: 100%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}

.container .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.vertical-align-wrapper {
  display: table;
  height: 100%;
}

.vertical-align-block {
  display: table-cell;
  vertical-align: middle;
}

.menu__container {
  margin: 0 auto;
  max-width: 300px;
  width: 90%;
  text-align: center;
  height: 100px;
}

.menu__item {
  width: 100%;
  margin-bottom: 15px;
}
